/* Menu toggle is using the media queries from the standard, tablet and smalltouch layout settings */
@media only screen and (max-width:320px) {
.at-mt .at-menu-toggle h2{position:static;top:0}.at-mt #menu-toggle{display:none}.at-mt #menu-toggle ul li,.at-mt #menu-toggle ul li a{display:block;float:none}
}
@media only screen and (min-width:321px) and (max-width:480px) {
.at-mt .at-menu-toggle h2{position:static;top:0}.at-mt #menu-toggle{display:none}.at-mt #menu-toggle ul li,.at-mt #menu-toggle ul li a{display:block;float:none}
}
@media only screen and (min-width:481px) and (max-width:768px) {
.at-mt .at-menu-toggle h2{position:absolute;top:-999999em}.at-mt #menu-toggle{display:block !important}
}
@media only screen and (min-width:769px) and (max-width:934px) {
.at-mt .at-menu-toggle h2{position:absolute;top:-999999em}.at-mt #menu-toggle{display:block !important}
}
@media only screen and (min-width:935px) {
.at-mt .at-menu-toggle h2{position:absolute;top:-999999em}.at-mt #menu-toggle{display:block !important}
}
.at-mt .at-menu-toggle div.contextual-links-wrapper ul.contextual-links{display:none}